body{

	background-color: skyblue;
	margin-left: 20%;
	margin-right: 20%;
}
h1{
text-align: center;
color: green;

}
p{
	text-align:justify;
	font-size: 18px;
}
img{
	width: 80%;
}
figure{
	text-align: center;
}



