body{

	background-color: skyblue;
	margin-left: 20%;
	margin-right: 20%;
}
h1{
text-align: center;
color: green;

}
p{
	text-align:justify;
	font-size: 18px;
}
img{
	width: 80%;
}
figure{
	text-align: center;

}
iframe{
	center ;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:green;
}


